{% extends "base.html" %}
{% block title %}Erskine_133{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-8">
      <div class="card">
          {% if result %}
            <img class="img-fluid" src="{{ url_for('static', filename='result.jpg') }}" class="rounded float-left" alt="...">
            {% else %}
            <img class="img-fluid" src="{{ url_for('static', filename='original.png') }}" class="rounded float-left" alt="...">
          {% endif %}
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="height:44rem;">
        <div class="overflow-auto">
            <ul class="list-group list-group-flush">
                {% for filename, image in images %}
                <form action = "{{ url_for('overlay_image')}}" method="POST">
                    <button type="submit" class="list-group-item list-group-item-action" name="{{filename}}" value=True>{{ filename }}</button>
                </form>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Attributes</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in report %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>              
            <tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  
  </div>





{% endblock %}